<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body onload="onload()">
<h1 th:text="${test.grade}"></h1>

<div th:each="testQuestion : ${test.testQuestions}">
    <h2 th:text="${testQuestion.question}"></h2>
    <p th:text="${testQuestion.answer1}"></p>
    <p th:text="${testQuestion.answer2}"></p>
    <p th:text="${testQuestion.answer3}"></p>
    <p th:text="${testQuestion.answer4}"></p>
    <br>
    <h3 th:text="${testQuestion.userChoice}"></h3>
    <h3 th:text="${testQuestion.correctAnswer}"></h3>
</div>


<th:block th:replace="partials/header :: scripts"></th:block>
</body>
</html>