* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


/* Very small devices (phones and pocket devices, 300 and up) */
@media screen and (min-width:200px) { /* ... */

    .LOGO{
        display: flex;
        justify-content: center;
    }

    #CARDTEXTTITLE {
        font-size: 15px;
    }
}

/*CUSTOM ERROR PAGES CSS*/

.background {
    background: linear-gradient(to top, #283E51, #0A2342);
}

.stars {
    position: absolute;
    top:110px;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat center;
    z-index:0;
}

.err-container{
    font-family: 'Fira Sans', sans-serif;
    color:#fff;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}


.num {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 25vh;
    font-size: 9rem;
    animation: animate2 2s linear infinite alternate;
}

#wheel {
    margin: 0 12px;
    overflow: hidden;
    height: 100%;
    animation: animate1 5s linear infinite alternate;
}

@keyframes animate1 {
    0% {opacity: 0;}
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {opacity: 0;}
    50% {
        opacity: 0.5;}
    100% {
        opacity: 1;
    }
}

#ban {
    margin: 0 12px;
    height: 100%;
    animation:animate3 5s ease infinite;
}


@keyframes animate3 {
    0% {opacity: 0;}
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.err4 {
    display: flex;
    justify-content: center;
}

#bugs {
    margin: 0 12px;
    height: 100%;
}


.blanket-err {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 25vh;
    font-size: 9rem;
    animation: animate2 2s linear infinite alternate;
}

/*VALIDATION ERROR MESSAGES CSS*/

.form-err {
    margin-top: 5px;
    color: red;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) { /* ... */

    .LOGO{
        display: flex;
        justify-content: center;
    }
    #CARDTEXTTITLE {
        font-size: 15px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */

    #CARDTEXT{
        font-size: 16px;
    }
    #CARDTEXTTITLE {
        font-size: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */
    #CARDTEXT {
        font-size: 25px;
    }

    #CARDTEXTTITLE {
        font-size: 30px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */
    #CARDTEXT {
        font-size: 30px;
    }

    #CARDTEXTTITLE {
        font-size: 35px;
    }
}

.navbar-brand {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 50px;
}

.logo-image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -40px;
}

.user-icon {
    display: flex;
    height: 50px;
    width: 50px;
}