/* Very small devices (phones and pocket devices, 300 and up) */
@media screen and (min-width:200px) { /* ... */

    .LOGO{
        display: flex;
        justify-content: center;
    }

    #CARDTEXTTITLE {
        font-size: 15px;
    }
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) { /* ... */

    .LOGO{
        display: flex;
        justify-content: center;
    }
    #CARDTEXTTITLE {
        font-size: 15px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */

    #CARDTEXT{
        font-size: 16px;
    }
    #CARDTEXTTITLE {
        font-size: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */
    #CARDTEXT {
        font-size: 25px;
    }

    #CARDTEXTTITLE {
        font-size: 30px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */
    #CARDTEXT {
        font-size: 30px;
    }

    #CARDTEXTTITLE {
        font-size: 35px;
    }
}

.navbar-brand {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 50px;
}

.logo-image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -40px;
}

.user-icon {
    display: flex;
    height: 50px;
    width: 50px;
}