* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


/* Very small devices (phones and pocket devices, 300 and up) */
@media screen and (min-width:300px) { /* ... */

    .LOGO{
        display: flex;
        justify-content: center;
    }
}

.background {
    background: linear-gradient(to top, #283E51, #0A2342);
}

.stars {
    position: absolute;
    top:110px;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat center;
    z-index:0;
}

.err-container{
    font-family: 'Fira Sans', sans-serif;
    color:#fff;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}


.num {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 25vh;
    font-size: 9rem;
    animation: animate2 2s linear infinite alternate;
}

#wheel {
    margin: 0 12px;
    overflow: hidden;
    height: 100%;
    animation: animate1 5s linear infinite alternate;
}

@keyframes animate1 {
    0% {opacity: 0;}
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {opacity: 0;}
    50% {
        opacity: 0.5;}
    100% {
        opacity: 1;
    }
}

#ban {
    margin: 0 12px;
    height: 100%;
    animation:animate3 5s ease infinite;
}


@keyframes animate3 {
    0% {opacity: 0;}
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.err4 {
    display: flex;
    justify-content: center;
}

#bugs {
    margin: 0 12px;
    height: 100%;
}


.blanket-err {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 25vh;
    font-size: 9rem;
    animation: animate2 2s linear infinite alternate;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) { /* ... */

    .LOGO{
        display: flex;
        justify-content: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */

    #CARDTEXT{
        font-size: 20px;
    }
    #CARDTEXTH3{
        font-size: 35px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */
    #CARDTEXT {
        font-size: 30px;
    }

    #CARDTEXTH3 {
        font-size: 45px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */
    #CARDTEXT {
        font-size: 35px;
    }

    #CARDTEXTH3 {
        font-size: 50px;
    }
}



.navbar-brand {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 50px;
}

.logo-image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -40px;
}

.user-icon {
    display: flex;
    height: 50px;
    width: 50px;
}

/*FLEX CARDS*/

/*html {*/
/*    box-sizing: border-box;*/
/*}*/

/**, *:before, *:after {*/
/*    box-sizing: inherit;*/
/*}*/

/*body {*/
/*    font-family: sans-serif;*/
/*    margin: 0;*/
/*    background-color: #b4d455;*/
/*}*/

/*a {*/
/*    color: white;*/
/*}*/

/*.container {*/
/*    max-width: 750px;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    align-items: center;*/

/*    !* TODO: Make this a flex container and align it's items to the center*!*/
/*}*/

/*.card {*/
/*    background: rgba(255, 255, 255, 0.2);*/
/*    margin: 20px;*/
/*    padding: 20px;*/
/*    border-radius: 4px;*/
/*    text-align: center;*/
/*    flex-basis: 100%;*/
/*    !*  TODO: Change this flex items basis to 100% of the page  *!*/
/*}*/

/*.card-title {*/
/*    text-transform: uppercase;*/
/*    color: white;*/
/*    letter-spacing: 2px;*/
/*    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);*/
/*}*/

/*.card-body {*/
/*    padding-bottom: 1em;*/
/*}*/

/*.feature-list {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*}*/

/*.feature-item {*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
/*    padding: 10px;*/
/*}*/

/*.price {*/
/*    font-size: 50px;*/
/*    font-family: serif;*/
/*    margin: 10px 0;*/
/*}*/

/*.btn-primary {*/
/*    text-decoration: none;*/
/*    background: #847477;*/
/*    padding: 10px;*/
/*    color: white;*/
/*    border-radius: 4px;*/
/*}*/