<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>Subjects</title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body onload="onload()">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="d-flex justify-content-center mt-5">
    <h1>Subjects</h1>
</div>
<div class="card m-3" th:each="subject : ${subjects}">
    <h2 class="card-header" th:text="${subject.title}"></h2>
    <div class="card-body" th:each=" set : ${subject.sets}">
        <div class="card">
            <a class="card-header" th:href="@{/sets/{id} (id = ${set.id})}"><h3 th:text="${set.title}"></h3></a>
            <div class="card-body">
                <h4>Description:</h4>
                <p class="card-title" th:text="${set.description}"></p>
                <h4>User:</h4>
                <p class="card-text" th:text="${set.user.username}"></p>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>