<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>StackKnot | Subjects</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body class="bg-light" onload="onload()">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="d-flex justify-content-center mt-5">
    <h1>Subjects</h1>
</div>
<div class="container mt-3">
    <div class="card mb-4" th:each="subject : ${subjects}">
        <h2 class="card-header text-center" th:text="${subject.title}" style="background-color: #7b00ba; color: white"></h2>
        <div class="card-body" th:each=" set : ${subject.sets}">
            <div class="card">
                <a class="card-header" th:href="@{/sets/{id} (id = ${set.id})}"><h3 th:text="${set.title}"></h3></a>
                <div class="card-body">
                    <p>Description: <span class="card-text" th:text="${set.description}"></span></p>
                    <p>Creator: <span class="card-text" th:text="${set.user.username}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>