<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>StackKnot | Create Card</title>
    <!--    Thymeleaf attribute container (th: block) used include for header partial named styling-->
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body onload="onload()">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <div class="mt-5">
        <h1>Create A Card</h1>
        <form id="validateCards" th:action="@{/cards/create}" th:method="POST" th:object="${card}">
            <div class="form-group">
                <label for="question">Term/Question</label>
                <input type="text" class="form-control" id="question" name="question" th:field="*{question}" required>
            </div>

            <div class="form-group">
                <label for="answer">Answer</label>
                <textarea class="form-control" id="answer" rows="5" name="answer" th:field="*{answer}"
                          required></textarea>
            </div>

            <input type="hidden" th:value="${card.set}" th:field="*{set}">

            <button type="submit" class="btn btn-block" style="background-color: darkorange; color: white">Submit</button>

        </form>
    </div>
</div>
<!--    Thymeleaf attribute container (th: block) used replace to include header partial named scripts-->
<th:block th:replace="partials/header :: scripts"></th:block>
<!--JQUERY CDN-->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script th:src="@{/js/err-msg-cards.js}" type="text/javascript"></script>
</body>
</html>