<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>StackKnot | All the cards</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body onload="onload()">
<nav th:replace="partials/navbar :: navbar"></nav>






<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>