<th:block th:fragment="editor-css">
    <style media="screen">
           .editor {
           position: relative;
           height: 100%;
           width: 100%;
           top: 0;
           right: 0;
           bottom: 0;
           left: 0;
           }
    </style>
</th:block>
<th:block th:fragment="editor">
<div id="codeEditor" class="editor"></div>
</th:block>
<th:block th:fragment="ace-scripts">
<script src="../../static/js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/ace-builds/src-noconflict/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
<script>
    let editor = ace.edit(document.getElementById('codeEditor'));
</script>
</th:block>
