<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head id="Top">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body class="d-flex flex-column min-vh-100">

<!--Thymeleaf template fragment for footer partial-->
    <!-- Footer -->
<footer th:fragment="styling" class="text-center text-white" style="background-color: #000000; margin-top: 25vh; position: sticky">

            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="row d-flex justify-content-between align-items-center">
                    <ul style="list-style: none">
                        <li><a class="" href="#Top" style="color:white">Top of Page</a></li>
                        <li><a class="" href="/contact-form" style="color:white">Contact An Expert</a></li>
                        <li><a class="" href="/about-us" style="color:white">About Us</a></li>
                    </ul>

                    <p class="register">
                    <form action="sign-up" method="get" th:if="!${#request.userPrincipal}">
                        <span class="me-3" style="padding-right: 10px">Register for free</span>
                        <button type="submit" class="btn btn-outline-light btn-rounded">
                            Sign up!
                        </button>
                        </form>
                    </p>


                    <p class="">
                    <form th:method="GET" th:action="@{/profile}" th:if="${#request.userPrincipal}">
                        <button class="btn btn-outline-light btn-rounded" type="submit">Profile
                        </button>
                    </form>

                    <form th:method="POST" th:action="@{/logout}" th:if="${#request.userPrincipal}">
                        <button class="btn btn-outline-light btn-rounded" type="submit">Logout
                        </button>
                        <span class="me-3 text-muted" style="padding-right: 10px">  You are logged in...</span>
                    </form>
                    </p>


                    <img src="/img/stackKnot_Logo1copy.jpg" width="20%" height="20%" style="padding-left: 40px">
                </section>
                <!-- Section: CTA -->
            </div>
        <div class="card-footer text-muted">
            © 2022 StackKnot.xyz
        </div>
            <!-- Grid container -->
        </footer>

</body>
</html>
