<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<!--Thymeleaf template fragment for navbar partial-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <!--    navbar code-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subjects">Subjects</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Flashcards
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="cards/create">Create</a>
                    <a class="dropdown-item" href="cards/edit">Edit</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="cards/delete">Delete</a>
                </div>
            </li>
        </ul>
        <div class="LOGO">
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img src="/img/stackKnot_Logo1.jpg" class="img-fluid">
            </div>
        </a>
        </div>
        <form class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control my-2 my-sm-0" type="search" placeholder="Search" aria-label="Search">
            <!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        </form>


        <!--        Login and Sign-Up links are visible to visitors only-->
                <<ul class="navbar-nav ml-3" th:if="!${#request.userPrincipal}">
                <li class="nav item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li>
                    <a class="nav-link" href="/sign-up">Sign Up</a>
                </li>
            </ul>




        <!--        Profile features are available to authorized users-->
<!--                <div sec:authorize="hasRole('ROLE_USER')">-->
<!--        <<ul class="navbar-nav ml-3">-->
<!--        <li class="nav item">-->
<!--            <a class="nav-link user-icon" href="users/profile"> <img src="/img/user-icon.svg" alt="User Icon"></a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown my-2">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--                Profile-->
<!--            </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="profileDropdown">-->
<!--                <a class="dropdown-item" href="users/edit">Edit Profile</a>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <a class="dropdown-item" href="#">Logout</a>-->
<!--                &lt;!&ndash;        <form th:action="@{/logout}" th:method="post">&ndash;&gt;-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->
<!--    </div>-->



    <!--        Admin Features in navbar-->
    <!--        <div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--    <<ul class="navbar-nav ml-3">-->
<!--    <li class="nav item">-->
<!--        <a class="nav-link user-icon" href="users/profile"> <img src="/img/user-icon.svg" alt="User Icon"></a>-->
<!--    </li>-->
<!--    <li class="nav-item dropdown my-2">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--            Users Profiles-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="adminDropdown">-->
<!--            <a class="dropdown-item" href="#">Create User Profile</a>-->
<!--            <a class="dropdown-item" href="#">Edit User Profile</a>-->
<!--            <a class="dropdown-item" href="#">Delete User Profile</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Logout</a>-->
<!--            &lt;!&ndash;        <form th:action="@{/logout}" th:method="post">&ndash;&gt;-->
<!--        </div>-->
<!--    </li>-->
<!--</ul>-->


    </div>
</nav>
</body>
</html>