<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<!--Thymeleaf template fragment for navbar partial-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark NAV" style="background-color: #000000; z-index: 10">
    <!--    navbar code-->

    <!--    navbar logo-->
        <a class="navbar-brand mr-3" href="/">
            <img src="/img/stackKnot_Logo1copy.jpg" class="logo-image" alt="stackknot-logo">
        </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

<!--    links-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/subjects">Subjects</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    Sets
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/sets/create">Create</a>

                    <!--                    <a class="dropdown-item" href="cards/edit">Edit</a>-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/sets">View</a>
                    <!--                    <a class="dropdown-item" href="/sets/index">View all the sets</a>-->

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/whiteboard">Whiteboard</a>
            </li>
        </ul>

<!--        SEARCH-->
        <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
            <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
        </form>



        <!--        Login and Sign-Up links are visible to visitors only-->

        <ul class="navbar-nav" th:if="!${#request.userPrincipal}">
            <li class="nav item">
                <form class="form-inline mr-2 mb-1 mb-lg-0" th:method="GET" th:action="@{/login}">
                    <button class="btn btn-outline-light btn-rounded" type="submit">Login</button>
                </form>
            </li>
            <li>
                <form class="form-inline" th:method="GET" th:action="@{/sign-up}">
                    <button class="btn btn-outline-light btn-rounded" type="submit">Sign Up</button>
                </form>
            </li>
        </ul>

<!--USER PROFILE DROPDOWN-->
        <div class="action" th:if="${#request.userPrincipal}" style="margin-left: 10px">
            <div class="profile" onclick="menuToggle();">
                <img src="/img/user-icon.svg" width="40px">
            </div>
            <div class="menu MENU" style="background-color: black; opacity: 90%">
                <ul>
                    <li style="list-style: none; padding: 4px; font-size: 20px"><a th:href="@{/profile}" th:if="${#request.userPrincipal}">My Profile</a></li>
                    <li style="list-style: none; padding: 4px; font-size: 20px"><a href="#" class="darkButton" onclick="myFunction()" th:if="${#request.userPrincipal}">Darkmode</a></li>
                    <li style="list-style: none; padding: 4px; font-size: 20px"><form th:method="POST" th:action="@{/logout}" th:if="${#request.userPrincipal}"><button class="logOut" style="background-color: white"><a>Logout</a></button></form></li>
                </ul>
            </div>
        </div>

    </div>
</nav>
</body>
</html>


