<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8" />
    <title>StackKnot | Log In</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header.html :: styling"></th:block>

</head>
<body onload="onload()">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="d-flex row">

    <div style="padding-right: 50px"><img src="/img/loginImage.jpg" alt="Login" width="700px"></div>
    <div style="padding-left: 120px; margin-top: 100px">
    <h1>Please Log In To Start</h1>
<form id="validateLog" th:action="@{/login}" method="post">
    <div class="form-group">
    <label for="username">Username</label>
    <input id="username" name="username" class="form-control" type="text" required/>
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input id="password" name="password" class="form-control" type="password" required/>
    </div>
    <input type="submit" class="btn btn-block" value="Log In" style="background-color: darkorange; color: white"/>
</form><br>
    <small>Don't have an account? <a href="/sign-up">Register here!</a></small>
</div>
</div>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>
<!--JQUERY CDN-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script th:src="@{/js/err-msg-login.js}" type="text/javascript"></script>

</body>
</html>
