<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title th:text="${user.username}"></title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body onload="onload()">
<nav th:replace="partials/navbar :: navbar"></nav>

<div>

    <form th:action="@{/profile/{id}/edit (id = ${user.getId()})}" th:method="GET"><button type="submit"></button></form>
    <h3 th:text="${user.username}"></h3>
    <h3 th:text="${user.firstName}"></h3>
    <h3 th:text="${user.lastName}"></h3>
    <h3 th:text="${user.email}"></h3>
    
    <div th:each="set : ${sets}">
        <h2 th:text="${set.title}" ></h2>
        <p th:text="${set.description}"></p>
        <form th:action="@{/sets/{id}(id = ${set.getId()})}"><button type="submit">Edit</button></form>
    </div>

    <div  th:each=" setStudied : ${setsStudied}">
        <h2 th:text="${setStudied.set.title}"></h2>
        <h2 th:text="${setStudied.progression.status}"></h2>
    </div>

</div>


<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>