<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title th:text="${user.username}"></title>
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div>

    <form th:action="@{/profile/{id}/edit (id = ${user.getId()})}" th:method="GET"><button type="submit"></button></form>
    <h3 th:text="${user.username}"></h3>
    <h3 th:text="${user.firstName}"></h3>
    <h3 th:text="${user.lastName}"></h3>
    <h3 th:text="${user.email}"></h3>

    <div class="card-body" th:each=" set : ${sets}">
        <div class="card">
            <a class="card-header" th:href="@{/sets/{id} (id = ${set.id})}"><h3 th:text="${set.title}"></h3></a>
            <div class="card-body">
                <h4>Description:</h4>
                <p class="card-title" th:text="${set.description}"></p>
                <h4>Subject:</h4>
                <p class="card-text" th:text="${set.subject.title}" ></p>
                <h4>User:</h4>
                <p class="card-text" th:text="${set.user.username}"></p>
            </div>
        </div>
    </div>

    <div class="card-body" th:each=" set : ${setsStudied}">
        <div class="card">
            <a class="card-header" th:href="@{/sets/{id} (id = ${set.id})}"><h3 th:text="${set.set.title}"></h3></a>
            <div class="card-body">
                <h4>Description:</h4>
                <p class="card-title" th:text="${set.set.description}"></p>
                <h4>Subject:</h4>
                <p class="card-text" th:text="${set.set.subject.title}" ></p>
                <h4>Progress:</h4>
                <p class="card-text" th:text="${set.progression.status}"></p>
                <h4>User:</h4>
                <p class="card-text" th:text="${set.set.user.username}"></p>

            </div>
        </div>
    </div>

</div>


<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>