<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- ... -->
    </head>

    <meta charset="UTF-8">
    <title>About Us</title>
    <!--    Templating-->
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="d-flex justify-content-center" style="margin-top: 5px">
<div class="card bg-dark text-white" style="width: 40rem">
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/017.webp" class="card-img" alt="Stony Beach"/>
    <div class="card-img-overlay">
        <div style="background-color: black; max-width: fit-content; opacity: 70%; border-radius: 10px">
        <h5 class="card-title" style="text-align: center">About StackKnot</h5>
        <p class="card-text">
            A way for Software Developers to sharpen their skills. StackKnot allows you to unravel the proverbial knot of full stack software development. We accomplish this by making card sets to study in a flashcard interface or create different kinds of tests to study with. Also, do you dread the whiteboard? We have a section for that!. Set with questions and picture answers for Javascript and Java!
        </p>
        <p class="card-text">-dev team</p>
            </div>
    </div>
</div>
</div>
<div style="text-align: center; margin-top: 50px">
<h1>Meet The Developers</h1>
</div><br><br>

<!--CARDS-->
<div class="d-flex justify-content-center">
<div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">
    <div class="col mb-4 d-flex CARD1">
        <div class="card" style="width: 15rem; border-width: 10px">
            <img th:src="@{/img/gary-photo.jpg}" th:target="_blank" alt="Picture of Gary Smith" class="card-img-top"  />
            <div class="card-body">
                <h5 class="card-title">Gary Smith</h5>
                <p class="card-text">
                    Full Stack Web Developer
                </p>
            </div>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/gary-d-smith" class="card-link"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/smith-gary" class="card-link"><i class="fab fa-github"></i></a>
                <a href="mailto:gary.d.smith99@gmail.com" class="card-link"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="col mb-4 CARD2">
        <div class="card" style="width: 15rem; border-width: 10px">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                </p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="card-link"><i class="fab fa-github"></i></a>
                <a href="#" class="card-link"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="col mb-4 CARD3">
        <div class="card" style="width: 15rem; border-width: 10px">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="card-link"><i class="fab fa-github"></i></a>
                <a href="#" class="card-link"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="col mb-4 CARD4">
        <div class="card" style="width: 15rem; border-width: 10px">
            <img src="/img/codeup10-21-0163.jpg" class="card-img-top" alt="Skyscrapers"/>
            <div class="card-body">
                <h5 class="card-title">Juan Longoria</h5>
                <p class="card-text">
                    Full Stack Developer
                </p>
            </div>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/juan-longoria-developer" class="card-link"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/juanlongoria" class="card-link"><i class="fab fa-github"></i></a>
                <a href="mailto:juan.a.longoria66@gmail.com?subject=User at StackKnot" class="card-link"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
</div>
</div>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>


</body>
</html>