<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- ... -->
    </head>

    <meta charset="UTF-8">
    <title>Contact An Expert</title>
    <!--    Templating-->
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
<h1>Contact An Expert</h1>
    <form th:action="@{/contact-form}" method="post" th:object="${emailRequest}">
        <div class="form-group">
            <label>Name</label><br>
            <input th:field="*{subject}" type="text" class="form-control" name="subject" id="name" required>
        </div>
        <div class="form-group">
            <label>Email</label><br>
            <input th:field="*{from}" type="text" class="form-control" name="from" id="email" required>
        </div>
        <div class="form-group">
            <label>Message</label><br>
            <textarea th:field="*{body}" name="body" class="form-control" cols="30" rows="10" id="message" required></textarea>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Send Email" />

    </form>
</div>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>

</body>
</html>