<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>StackKnot Home Page</title>
    <!--    Templating-->
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="d-flex justify-content-center">
    <div class="card bg-dark text-white">
        <img src="/img/tech.jpg" class="card-img" alt="tech image"/>
        <div class="card-img-overlay">
            <h3 class="card-title" style="text-align: left" id="CARDTEXTH3">Stack Your Developer Skills</h3>
            <p class="card-text" style="margin-top: -15px" id="CARDTEXT">
                StackKnot allows you to unravel<br>
                the proverbial knot of full stack<br>
                software development. We accomplish<br>
                this by making card sets to study in<br>
                a flashcard interface or create<br>
                different kinds of tests to study with.
            </p>
        </div>
    </div>
</div><br><br><br>
    <h2 style="text-align: center">100% of developers use StackKnot to sharpen their skills</h2>

<div class="container-fluid my-5">
    <div class="row align-items-center">
        <div class="col-3">
            <div>
                <h1> Trained Experts</h1>
                <img src="/img/contact.png" alt="Logo" width="120px">
                <p>Lorem ipsum dolor sit amet, at quod imperdiet conclusionemque cum, eu mea minim dignissim mediocritatem. An sit illud debet, ne assum dictas vivendum pro. Nec ne meis natum eripuit, eu cum stet virtute detraxit, lorem labores civibus eu vis. Sed ne amet tacimates pertinacia. Quo ceteros propriae mandamus an. Cu vel cibo omnis, omnium quaerendum nec cu. Novum persius alterum eam et.
                </p>
                <a href="/contact-form" class="nav-link px-2 text-muted">Contact An Expert...</a>
            </div>
        </div>

        <div class="col-6">
            <div>
                <h1> Registration One Click Away</h1>
                <img src="/img/stackKnot_Logow.jpg" alt="Logo" width="120px">
                <p>Lorem ipsum dolor sit amet, at quod imperdiet conclusionemque cum, eu mea minim dignissim mediocritatem. An sit illud debet, ne assum dictas vivendum pro. Nec ne meis natum eripuit, eu cum stet virtute detraxit, lorem labores civibus eu vis. Sed ne amet tacimates pertinacia. Quo ceteros propriae mandamus an. Cu vel cibo omnis, omnium quaerendum nec cu. Novum persius alterum eam et.

                    Has accusam dolores aliquando cu, eam feugiat patrioque ne, eros philosophia cum cu. Est unum omnis inciderint te. Nam ut probo platonem, antiopam democritum ne quo. Case commodo suscipiantur te eum, facer admodum deleniti ad has. Quo causae prompta iracundia cu, elit nostro fastidii ad eam.
                </p>
                <a href="/sign-up" class="nav-link px-2 text-muted">Get Started...</a>
            </div>
        </div>
<br>
        <div class="col-12 col-md-4">
            <ul class="d-flex flex-row flex-md-column justify-content-between list-unstyled">
                <li>Credentials</li>
                <li>Domain</li>
                <li>Works of Charity</li>
            </ul>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-title">
                    <h2>Basic plan</h2>
                </div>
                <div class="card-body">
                    <p>Excellent for freelance developers</p>
                    <ul class="feature-list">
                        <li class="feature-item">Unlimited open source repositories</li>
                        <li class="feature-item">3 free private repositories</li>
                        <li class="feature-item">No support for project planning tools</li>
                    </ul>
                    <p class="price">Free</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-primary">Choose Basic</a>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <h2>Enterprise plan</h2>
                </div>
                <div class="card-body">
                    <p>Excellent for big companies</p>
                    <ul class="feature-list">
                        <li class="feature-item">Unlimited open source repositories</li>
                        <li class="feature-item">8 free private repositories</li>
                        <li class="feature-item">Support for project planning tools</li>
                        <li class="feature-item">No limit on the size of a team!</li>
                    </ul>
                    <p class="price">Free</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-primary">Choose Enterprise</a>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <h2>Startup plan</h2>
                </div>
                <div class="card-body">
                    <p>Excellent for companies with small teams</p>
                    <ul class="feature-list">
                        <li class="feature-item">6   free private repositories</li>
                        <li class="feature-item">Support for project planning tools</li>
                        <li class="feature-item">Teams up to 6 developers</li>
                    </ul>
                    <p class="price">Free</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-primary">Choose Startup</a>
                </div>
            </div>
        </div>
<br><br>


        <div class="col">
            <div>
                <h3> 5-Star Review <img src="/img/5star.png" alt="Logo" width="100px"></h3>
                <p>"When it came to studying I was a mess. Now I am at Codeup and they introduced me to StackKnot. I am no longer stressed when it comes to studying for assessments. Thank you StackKnot!"<br> -Jane Doe</p><br>
                <h3> 5-Star Review <img src="/img/5star.png" alt="Logo" width="100px"></h3>
                <p>"StackKnot has helped me to understand just how fun and important studying can be! This school year, in computer science class I put my solutions on StackKnot and I already feel better about my upcoming assessment."<br> -John Smith</p><br>
                <h3> 5-Star Review <img src="/img/5star.png" alt="Logo" width="100px"></h3>
                <p>"StackKnot is a great way to study. I introduced it to my developer team and we are all improving. Whenever I think of StackKnot, I think of the pure joy of studying in a few minutes instead of hours."<br> -Sally Sayles</p><br>
            </div>
        </div>
    </div>
</div>











<th:block th:replace="partials/footer :: styling"></th:block>
<th:block th:replace="partials/bootstrap :: scripts"></th:block>

</body>
</html>