<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>StackKnot Home Page</title>

    <!--    Templating-->
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body onload="onload()">
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="d-flex justify-content-center">
    <div class="card bg-dark text-white">
        <img src="/img/tech.jpg" class="card-img" alt="tech image"/>
        <div class="card-img-overlay">
            <div style="background-color: black; max-width: fit-content; opacity: 75%; border-radius: 10px">
            <h4 id="CARDTEXTTITLE" class="card-title" style="text-align: left">Stack Your Developer Skills..</h4>
            <p id="CARDTEXT" class="card-text" style="margin-top: -13px">
                StackKnot allows you to unravel<br>
                the proverbial knot of full stack<br>
                software development. We<br>
                accomplish this by making card<br>
                sets to study in a flashcard<br>
                interface or create different kinds<br>
                of tests to study with.
            </p>
                </div>
        </div>
    </div>
</div>

<div class="action" th:if="${#request.userPrincipal}" style="margin-left: 10px">
    <div class="profile" onclick="menuToggle();">
        <img src="/img/user-icon.svg" width="40px">
    </div>
    <div class="menu">
        <ul>
            <li><a th:href="@{/profile}" th:if="${#request.userPrincipal}">My Profile</a></li>
            <li><a href="#" class="darkButton" onclick="myFunction()" th:if="${#request.userPrincipal}">Darkmode</a></li>
            <li><form th:method="POST" th:action="@{/logout}" th:if="${#request.userPrincipal}"><button class="logOut" style="background-color: white"><a>Logout</a></button></form></li>
        </ul>
    </div>
</div>





<!--<br>-->
<br><br>
    <h2 style="text-align: center">100% of developers use StackKnot to sharpen their skills</h2>

<div class="container-fluid my-5">
    <div class="row align-items-center">
        <div class="col-4">
            <div style="margin-left: 75px">
                <h1> Trained Experts</h1>
                <img src="/img/contact.png" alt="Logo" width="120px">
                <p>Need a little help?<br>Our experts are Codeup Certified, highly trained and available 24 hours a day, 7 days a week. Codeup is a fully-immersive, project-based, and intensive 22-week Full-Stack Java Career Accelerator that provides students with 670 hours of expert instruction in software development. If you are interested in knowing more about our experts, check out the "About Us" page down below. It is filled with information about our expert developers to include business profile, project portfolio and how to contact them.
                </p>
                <a href="/contact-form" class="nav-link px-2 text-muted">Expert Assistance...</a>
            </div>
        </div>

        <div class="col-6">
            <div style="margin-left: 50px">
                <h1>Get Started With Whiteboard</h1>
                <img src="/img/stackKnot_Logow.png" alt="Logo" width="120px">
                <p>Also, do you dread the whiteboard? <br>We have a section for that!. Set with questions and picture answers for Javascript and Java! In the white-boarding practice section, once you click "Get Started" a randomly generated question will appear. Use the text editor to type out your solution in Java, Javascript, or both! Once complete click "Get Solution" to check your answer. Good Luck!<br><br>

                    Please remember to subscribe and login to receive optimum use of all resources StackKnot has to offer. Don't forget to submit a contact form in order to subscribe to our application. We inform our subscribers when any knew features have been added and improved or even just to say a quick hello. We keep our members in the loop about all we do. Subscribe today so you don't miss any news.
                </p>
                <a href="/whiteboard" class="nav-link px-2 text-muted">Head To Whiteboard...</a>
            </div>
        </div>

<br>
        <div class="col-12 col-md-4">
            <ul class="d-flex flex-row flex-md-column justify-content-between list-unstyled">
                <li>Junior Dev</li>
                <li>Advanced Dev</li>
                <li>Intermediate Dev</li>
            </ul>
        </div>

<!--        CARDS-->
<!--        CARD1-->
        <div class="container">
            <div class="" style="border-radius: 12px; border-color: lightgrey; border-width: 10px">
                <div class="row d-flex align-items-center">
                    <div style="margin-left: 100px"><img src="/img/textEdit1.png" alt="register" height="250px"></div>
                    <div style="margin-left: 200px">
                <div class="card-title" style="margin-left: 50px">
                    <h2>Junior dev</h2>
                </div>
                    <div class="card-body" style="padding-left: 50px">
                    <p>Excellent for junior developers</p>
                    <ul class="feature-list">
                        <li class="feature-item">Unlimited open source repositories</li>
                        <li class="feature-item">Review any solution</li>
                        <li class="feature-item">Expert help 24 hours</li>
                    </ul>
                    <p class="price"><strong>Free</strong></p>
                </div>

                <div class="card-footer">
                    <a href="/login" class="btn btn-info" th:if="!${#request.userPrincipal}">Choose Junior</a>

                            <form class="form-inline" th:method="GET" th:action="@{/profile}" th:if="${#request.userPrincipal}">
                                <button class="btn btn-info" type="submit">Profile</button>
                            </form>
                        </div>
                </div>
                </div>
            </div>

            <hr>

<!--                    CARD2-->
            <div class="" style="border-radius: 12px; border-color: lightgrey; border-width: 10px">
                <div class="d-flex align-items-center row">
                    <div style="margin-left: 150px">
                <div class="card-title">
                    <h2>Advanced dev</h2>
                </div>
                <div class="card-body">
                    <p>Excellent for big companies</p>
                    <ul class="feature-list">
                        <li class="feature-item">Unlimited open source repositories</li>
                        <li class="feature-item">8 free private repositories</li>
                        <li class="feature-item">Support for project planning tools</li>
                        <li class="feature-item">No limit on the size of a team!</li>
                    </ul>
                    <p class="price"><strong>Free</strong></p>
                </div>
                    <div class="card-footer">
                    <a href="/login" class="btn btn-warning" th:if="!${#request.userPrincipal}">Choose Advanced</a>

                            <form class="form-inline" th:method="GET" th:action="@{/profile}" th:if="${#request.userPrincipal}">
                                <button class="btn btn-warning" type="submit">Profile</button>
                            </form>
                        </div>
                    </div>
                    <div style="margin-left: 200px"><img src="/img/expertImage.png" alt="register" height="250px"></div>

                </div>
            </div>

            <hr>

<!--                    CARD3-->
            <div class="" style="border-radius: 12px; border-color: lightgrey; border-width: 10px">
                <div class="d-flex align-items-center row">
                    <div style="margin-left: 100px"><img src="/img/cpu1.png" alt="register" height="250px"></div>
                    <div style="margin-left: 200px">
                <div class="card-title" style="margin-left: 50px">
                    <h2>Intermediate dev</h2>
                </div>

                <div class="card-body" style="padding-left: 50px">
                    <p>Excellent for companies with small teams</p>
                    <ul class="feature-list">
                        <li class="feature-item">Unlimited additions</li>
                        <li class="feature-item">Support for project planning tools</li>
                        <li class="feature-item">Teams up to 6 developers</li>
                    </ul>
                    <p class="price"><strong>Free</strong></p>
                </div>
                <div class="card-footer">
                    <a href="/login" class="btn btn-info" th:if="!${#request.userPrincipal}">Choose Intermediate</a>

                        <form class="form-inline" th:method="GET" th:action="@{/profile}" th:if="${#request.userPrincipal}">
                            <button class="btn btn-info" type="submit">Profile</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<br><br>


        <div class="col">
            <div>
                <h3><img src="/img/Steps1.png" alt="Logo" width="100px"></h3>
                <p><strong>Register then login in order to start creating, stacking and learning at your own pace. StackKnot makes it easy to navigate and study multiple areas of interest.</strong></p><br>
                <h3><img src="/img/Steps2.png" alt="Logo" width="100px"></h3>
                <p><strong>Once you have logged in you can choose your subject and start creating sets of cards. We have Java and Javascript language options for your desired expertise. </strong></p><br>
                <h3><img src="/img/Steps3.png" alt="Logo" width="100px"></h3>
                <p><strong>Now your ready to stack all your knowledge and start studying. Using the whiteboard you will be provided with a text editor to type in your version of the answer then once complete it will be compared to the correct answer. You even have the ability to search other users sets of cards in both languages Java and Javascript.</strong></p><br>
            </div>
        </div>
    </div>
</div>










<th:block th:replace="partials/footer :: styling"></th:block>
<th:block th:replace="partials/bootstrap :: scripts"></th:block>

</body>
</html>