<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>StackKnot | Home </title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <!--    Templating-->
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body onload="onload()">
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="d-flex justify-content-center">
    <div class="card bg-dark text-white">
        <img src="/img/tech2.jpg" class="card-img" alt="tech image"/>
        <div class="card-img-overlay">
            <div class="hpTopText pt-1 m-0"
                 style="background-color: black; max-width: fit-content; opacity: 75%; border-radius: 10px">
                <div class="p-4">
                    <h4 id="CARDTEXTTITLE" class="card-title" style="text-align: left; opacity: 100%">Stack Your
                        Developer
                        Skills..</h4>
                    <p id="CARDTEXT" class="card-text my-2" style="opacity: 100%" >
                        StackKnot allows you to unravel<br>
                        the proverbial knot of full stack<br>
                        software development. We<br>
                        accomplish this by making card<br>
                        sets to study in a flashcard<br>
                        interface or create different kinds<br>
                        of tests to study with.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="mt-3" style="text-align: center">If you're a developer you need to use StackKnot to sharpen your skills</h2>

<div class="container-fluid my-5">
    <div class="m-5">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div>
                    <h1> Trained Experts</h1>
                    <img src="/img/contact.png" alt="Logo" width="120px">
                    <p>Need a little help?<br>Our experts are Codeup Certified, highly trained and available 24 hours a
                        day,
                        7 days a week. Codeup is a fully-immersive, project-based, and intensive 22-week Full-Stack Java
                        Career Accelerator that provides students with 670 hours of expert instruction in software
                        development. If you are interested in knowing more about our experts, check out the "About Us"
                        page
                        down below. It is filled with information about our expert developers to include business
                        profile,
                        project portfolio and how to contact them.
                    </p>
                    <a href="/contact-form" class="nav-link px-2 text-muted">Expert Assistance...</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                <div>
                    <h1>Get Started With Whiteboard</h1>
                    <img src="/img/stackKnot_Logow.png" alt="Logo" width="120px">
                    <p>Also, do you dread the whiteboard? <br>We have a section for that!. Set with questions and
                        picture
                        answers for Javascript and Java! In the white-boarding practice section, once you click "Get
                        Started" a randomly generated question will appear. Use the text editor to type out your
                        solution in
                        Java, Javascript, or both! Once complete click "Get Solution" to check your answer. Good
                        Luck!<br><br>

                        Please remember to subscribe and login to receive optimum use of all resources StackKnot has to
                        offer. Don't forget to submit a contact form in order to subscribe to our application. We inform
                        our
                        subscribers when any knew features have been added and improved or even just to say a quick
                        hello.
                        We keep our members in the loop about all we do. Subscribe today so you don't miss any news.
                    </p>
                    <a href="/whiteboard" class="nav-link px-2 text-muted">Head To Whiteboard...</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 align-self-center d-flex justify-content-center p-1"><img
                    src="/img/textEdit1.png" alt="register" height="300px"></div>
            <div class="col-lg-4 col-md-6 col-sm-12 align-self-center d-flex justify-content-center p-1"><img
                    src="/img/expertImage.png" alt="register" height="300px"></div>
            <div class="col-lg-4 col-md-12 col-sm-12 align-self-center d-flex justify-content-center p-1"><img
                    src="/img/cpu1.png" alt="register" height="300px"></div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <div class="row STEPS">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3><img src="/img/Steps1.png" alt="Logo" width="100px"></h3>
                <p><strong>Register then login in order to start creating, stacking and learning at your own pace.
                    StackKnot makes it easy to navigate and study multiple areas of interest.</strong></p><br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3><img src="/img/Steps2.png" alt="Logo" width="100px"></h3>
                <p><strong>Once you have logged in you can choose your subject and start creating sets of cards. We
                    have Java and Javascript language options for your desired expertise. </strong></p><br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3><img src="/img/Steps3.png" alt="Logo" width="100px"></h3>
                <p><strong>Now your ready to stack all your knowledge and begin your journey! View by subject, sets, or
                    hop right into the whiteboard!</strong></p><br>
            </div>
        </div>
    </div>
</div>


<th:block th:replace="partials/footer :: styling"></th:block>
<th:block th:replace="partials/bootstrap :: scripts"></th:block>

</body>
</html>