<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Set Index</title>
    <th:block th:include="/partials/header :: styling"></th:block>
</head>
<body>
<div th:replace="/partials/navbar.html :: navbar"></div>

<div th:each="set : ${allSets}">
    <h2 th:text="${set.getSubject().getTitle()}"></h2>
    <h3 th:text="${set.getTitle()}"></h3>
    <p th:text="${set.getDescription()}"></p>
    <p th:text="${set.getUser().getFirstName()}"></p>
</div>

<th:block th:replace="/partials/header :: scripts"></th:block>
</body>
</html>