<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">

    <title>StackKnot | All Sets</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>

<body class="bg-light">

<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="card-body col-xl-4 col-lg-4 col-md-4 col-sm-6" th:each=" set : ${allSets}">
            <div class="card">
                <a class="card-header bg-info" th:href="@{/sets/{id} (id = ${set.id})}"><h3 th:text="${set.title}" style="color: black"></h3></a>
                <div class="card-body">
                    <p>Description: <span class="card-title" th:text="${set.description}"></span></p>
                    <p>Subject: <span class="card-text" th:text="${set.subject.title}"></span></p>
                    <p>User: <span class="card-text" th:text="${set.user.username}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>