<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>Single Set</title>
    <!--    Thymeleaf attribute container (th: block) used include for header partial named styling-->
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body class="bg-light" onload="onload()">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container-fluid">
    <div class="mt-5 ml-3">
        <h3><span th:text="${singleSet.title}"></span></h3>
        <p><span th:text="${singleSet.description}"></span></p>
        <p>Created by: <a th:href="@{/profile/{username} (username = ${singleSet.user.username})}"
                          th:text="${singleSet.user.username}"></a></p>
        <p>Likes: <span th:text="${singleSet.likes}"></span></p>
    </div>
    <div class="m-3 btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form name="likeform" method="post" th:action="@{/sets/{id}/like (id = ${singleSet.id})}">
                <button type="submit" class="btn" style="background-color: darkorange; color: white">Like</button>
            </form>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <form th:action="@{/cards/create/{setId} (setId = ${singleSet.id})}">
                <button type="submit" class="btn" style="background-color: darkorange; color: white">Add a card</button>
            </form>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Third group">
            <form th:action="@{/tests/{setId} (setId = ${singleSet.id})}">
                <button type="submit" class="btn" style="background-color: darkorange; color: white">Take a test</button>
            </form>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Fourth group">
            <form th:action="@{/sets/{id}/edit (id = ${singleSet.getId()})}">
                <button class="btn" type="submit" style="background-color: darkorange; color: white"
                        th:if="${user.id == singleSet.user.id} or ${user.admin}">
                    Edit Set
                </button>
            </form>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Fifth group">
            <form th:action="@{/sets/{id}/delete (id = ${singleSet.getId()})}">
            <button class="btn btn-outline-danger" type="submit" th:if="${user.id == singleSet.user.id} or ${user.admin}">Delete Set</button>
        </div>
    </div>

    <div>
        <div class="card m-3" th:each="card : ${cards}">
            <div class="card-body">
                <h5 class="card-title" th:text="${card.question}"></h5>

                    <button class="btn btn-info" type="button" data-toggle="collapse"
                            th:data-target="'#collapse'+${card.id}"
                            aria-expanded="false" th:attr="aria-controls= '#collapse'+${card.id}">
                        Show Answer
                    </button>

                <div class="collapse m-2" th:id="'collapse'+${card.id}">
                    <div class="card card-body">
                        <h5 th:text="${card.answer}"></h5>
                    </div>
                </div>

                <!-- EDIT AND DELETE BUTTONS ONLY SHOWN IF THE USER CREATED OR USER IS ADMIN -->
                <div sec:authorize="isAuthenticated()">
                    <div class="m-3 btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <form th:action="@{/cards/{id}/edit (id = ${card.getId()})}">
                                <button class="btn" type="submit" style="background-color: darkorange; color: white"
                                        th:if="${user.id == singleSet.user.id} or ${user.admin}">Edit Card
                                </button>
                            </form>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <form th:action="@{/cards/{id}/delete (id = ${card.getId()})}">
                                <button class="btn btn-outline-danger" type="submit"
                                        th:if="${user.id == singleSet.user.id} or ${user.admin}">Delete Card
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!--    Thymeleaf attribute container (th: block) used replace to include header partial named scripts-->
<th:block th:replace="partials/bootstrap :: scripts"></th:block>
<script>
    $(function () {
        $('#likeform').submit(function (event) {
            event.preventDefault();
            $(this).submit();
        });
    });
</script>
</body>
</html>