<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>Single Set</title>
    <!--    Thymeleaf attribute container (th: block) used include for header partial named styling-->
    <th:block th:include="partials/bootstrap :: styling"></th:block>
    <th:block th:include="partials/header :: styling"></th:block></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div>
    <form th:action="@{/sets/{id}/edit (id = ${singleSet.getId()})}"><button type="submit">Edit</button></form>
    <h2><span th:text="${singleSet.subject.title}"></span></h2>
    <h3><span th:text="${singleSet.getTitle()}"></span></h3>
    <p><span th:text="${singleSet.getDescription()}"></span></p>
    <a th:href="@{/profile/{username} (username = ${singleSet.user.username})}" th:text="${singleSet.user.username}"></a>
    <form th:action="@{/cards/create/{setId} (setId = ${singleSet.id})}"><button type="submit">Add a card</button></form>
</div>
<div>
    <ul th:each="card : ${cards}">
        <li th:text="${card.getQuestion()}"></li>
        <li th:text="${card.getAnswer()}"></li>
        <form th:action="@{/cards/{id}/edit (id = ${card.getId()})}"><button type="submit">Edit</button></form>
        <form th:action="@{/cards/{id}/delete (id = ${card.getId()})}"><button type="submit">Delete</button></form>

    </ul>
</div>


<!--    Thymeleaf attribute container (th: block) used replace to include header partial named scripts-->
<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>